* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}

html {
	font-family: "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

nav {
	text-align: center;
	background-color: white;
	color: #F7631C;
	font-size: 36px;
	font-family: 'Brush Script MT', cursive;
	position: sticky;
	z-index: 5;
	top: 0;
	left: 0;
}

body {
	/*background: orange url('../assets/Haikyuu!!.jpg') no-repeat;*/
	background-position: 100% -5%;
	background-size: cover;
	overflow: auto;
}

.cover img{
	width: 100%;
}

.cover img {
	width: 100%;
	height: 20rem;
	object-fit: cover;
	object-position: 50% 30%;
}

.close {
	font-size: 30px;
	font-weight: 700;
	margin-left: 90%;
	color: black;
	cursor: pointer;
}

.center {
	text-align: right;
	padding: 2rem 2.5% 0 0;
	width: 100%;
}

.btn {
	border: 0.5px solid #E9E9E7;
	padding: 0.50rem;
	border-radius: 5px;
	background-color: #2383E2;
	/* old color */
	/* #ED5005 */
	color: white;
	font-size: 15px;
	font-family: 'Trebuchet MS', sans-serif;
	cursor: pointer;
}

/* style for table list */
.table-div{
	width: 100%;
}

table {
	width: 95%;
	border: 1px solid #E9E9E7;
	border-collapse: collapse;
	margin: 0 2.5% 0 2.5%;
	color: #37352F;
}

table th{
	text-align: left;
}

th, td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	
	border: 1px solid #E9E9E7;
	border-collapse: collapse;
	background-color: white;
	padding: 0.5rem 0.8rem 0.5rem 0.8rem;
}

thead {
	font-size: 15px;
}

tbody {
	font-size: 14px;
}

/* style for add, update overlay form */
.outer-popup {
	display: none;
	background: hsla(50, 100%, 50%, 0.7);
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
}

.form-container {
	padding: 20px;
	font-size: 15px;
	width: 100%;
}

.form-popup {
	z-index: 10;
	display: none;
	position: sticky;
	background-color: #ffffff;
	backdrop-filter: blur(5px);
	color: #37352F;
	position: fixed;
	border: 1px solid #E9E9E7;
	margin-left: 32%;
	margin-top: -20%;
	width: 35%
}

.form-container h2, hr {
	margin-left: -5%;
}

.form-container label {
	margin-left: 8%;
}

.form-container input[type=text] {
	width: 60%;
	padding: 8px;
	margin: 5px 0 15px 0;
	border: 1px solid white;
	background: #E9E9E7;
	margin-left: 8%;
}

.form-container input[type=number] {
	width: 12%;
	padding: 8px;
	margin: 5px 0 15px 0;
	border: 1px solid white;
	background: #E9E9E7;
	margin-left: 8%;
}

.form-container input[type=date], select {
	width: 30%;
	padding: 8px;
	margin: 5px 0 15px 0;
	border: 1px solid white;
	background: #E9E9E7;
	margin-left: 8%;
}

.form-container button {
	border: 0.5px solid #A5A4A1;
	padding: 0.60rem;
	border-radius: 5px;
	background-color: #2383E2;
	color: white;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Trebuchet MS', sans-serif;
	margin-left: 80%;
	cursor: pointer;
}