*{
	padding:0;
	margin:0;
}
nav{
	text-align:center;
	background-color:white;
	color: #F7631C;
	font-size: 36px;
	font-family: 'Brush Script MT', cursive;
	position: sticky;
	z-index:5;
	top:0;
	left:0;
}
body{
	background: orange url('../assets/bg.jpg') no-repeat;
	background-position: 100% -5%;
	background-size: cover;
	overflow: auto;
}
.close {
	font-size: 20px;
	font-weight: 600;
	margin-left: 90%;
  }
.center{
	margin-left: 3%;
	padding: 1rem;
}
.btn{
	border: 0.5px solid black;
	padding: 0.50rem;
	border-radius: 5px;
	background-color: #ED5005;
	color:white;
	font-size:15px;
	font-family: 'Trebuchet MS', sans-serif;
	}
table{
	border:1px solid black;
	border-collapse: collapse;
	text-align: center;
	margin:0 auto;
	
}

th,td{
	border:1px solid black;
	border-collapse: collapse;
	background-color:white;
	padding: 0.5rem;
}

thead{font-size:20px;}
tbody{font-size:18px;}
.outer-popup {
	display: none;
	background: hsla(50, 100%, 50%, 0.7);
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
  }
.form-container{
	padding: 10px;
	font-size: 15px;
	font-family: 'Trebuchet MS', sans-serif;
	width:100%
}

.form-popup{
	z-index:10;
	display:none;
	position: sticky;
	background-color:rgba(0,0,0, 0.4);
	backdrop-filter: blur(5px);
	color:white;
	position:fixed;
	border: 2px solid white;
	margin-left:30%;
	margin-top:-8%;
	width:35%
}

.form-container h2,hr{
	margin-left: -5%;
}
.form-container label{
	margin-left: 5%;
}
.form-container input[type=text]{
	width:60%;
	padding:8px;
	margin: 5px 0 15px 0;
	border: 1px solid white;
	background: #f1f1f1;
	margin-left: 8%;
}

.form-container input[type=number]{
	width:12%;
	padding:8px;
	margin: 5px 0 15px 0;
	border: 1px solid white;
	background: #f1f1f1;
	margin-left: 8%;
}

.form-container input[type=date], select{
	width:30%;
	padding:8px;
	margin: 5px 0 15px 0;
	border: 1px solid white;
	background: #f1f1f1;
}
.form-container select{
	width:30%;
	padding:10px;
	margin: 5px 0 15px 0;
	border: 1px solid white;
	background: #f1f1f1;
	margin-left: 8%;
}

.form-container button{
	border: 0.5px solid white;
	padding: 0.60rem;
	border-radius: 5px;
	background-color: #ED5005;
	color:white;
	font-size:15px;
	font-weight: bold;
	font-family: 'Trebuchet MS', sans-serif;
	margin-left:80%
}

.form-container button{
	border: 0.5px solid white;
	padding: 0.50rem;
	border-radius: 5px;
	background-color: #ED5005;
	color:white;
	font-size:15px;
	font-family: 'Trebuchet MS', sans-serif;
	margin-left:80%
}

