*{
	height:100%
	padding:0;
	margin:0;
}
nav{
	text-align:center;
	background-color:white;
	color: #F7631C;
	font-size: 36px;
	font-family: 'Brush Script MT', cursive;
	position: sticky;
	z-index:5;
	top:0;
	left:0;
}
body{
	background: red url('../assets/bg.jpg') no-repeat;
	background-position: 100% -5%;
	background-size: cover;
}
.center{
	margin-left: 3%;
	padding: 1rem;
}
.btn{
	border: 0.5px solid black;
	padding: 0.50rem;
	border-radius: 5px;
	background-color: #ED5005;
	color:white;
	font-size:15px;
	font-family: 'Trebuchet MS', sans-serif;
	}
table{
	border:1px solid black;
	border-collapse: collapse;
	text-align: center;
	margin:0 auto;
	
}

th,td{
	border:1px solid black;
	border-collapse: collapse;
	width:10%;
	background-color:white;
	font-size:15px;
	padding:0.3rem;
}

{box-sizing: border-box;}

.form-container{
	padding: 15px;
	font-size: 15px;
	font-family: 'Trebuchet MS', sans-serif;
	width:100%
}

.form-popup{
	display:none;
	background-color:rgba(0,0,0, 0.4);
	backdrop-filter: blur(5px);
	color:white;
	position:fixed;
	border: 2px solid white;
	margin-left:30%;
	margin-top:-3%;
	width:35%
}

.form-container input[type=text]{
	width:60%;
	padding:10px;
	margin: 5px 0 15px 0;
	border: 1px solid white;
	background: #f1f1f1;
}

.form-container input[type=number]{
	width:12%;
	padding:10px;
	margin: 5px 0 15px 0;
	border: 1px solid white;
	background: #f1f1f1;
}

.form-container input[type=date]{
	width:30%;
	padding:10px;
	margin: 5px 0 15px 0;
	border: 1px solid white;
	background: #f1f1f1;
}
.form-container select{
	width:30%;
	padding:10px;
	margin: 5px 0 15px 0;
	border: 1px solid white;
	background: #f1f1f1;
}

.form-container button{
	border: 0.5px solid white;
	padding: 0.50rem;
	border-radius: 5px;
	background-color: #ED5005;
	color:white;
	font-size:15px;
	font-family: 'Trebuchet MS', sans-serif;
	margin-left:80%
}

